# Server Configuration
PORT=3000
SERVER=http://localhost
# MCP_SERVER_URL= اذا كان لدي رابط مخصص مثل https://chatbot-nodejs-mh.vercel.app/mcp

# NeonDB PostgreSQL
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# Gemini API
GEMINI_API_KEY=your-gemini-api-key
GEMINI_MODEL=gemini-3.7-flash

# RAG Configuration
EMBEDDING_DIMS=768

# اختيار قاعدة البيانات حسب بيئة العمل 
# VECTOR_DB=pgvector
VECTOR_DB=local

# For local development (Vector_DB)
LOCAL_DB_PATH=./.local_vector_db